<div class="container">
  
  <div class="row flex-lg-row-reverse align-items-center g-5 p-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <!-- hero section image -->
      <img
        src="hero-image.png"
        class="d-block mx-auto img-fluid rounded shadow"
        alt="Bootstrap Themes"
        width="1200"
        height="700"
        loading="lazy"
      />
    </div>

    <!-- content -->
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 mt-5">
        Employee <br>Management <br> System
      </h1>

      <!-- description -->
      <p class="lead">
        Manage your employees easily and efficiently. <br>
        Streamline your HR processes, track performance,<br>
         and build a stronger team from one unified platform.
      </p>

      <!-- view employees button -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg shadow px-4 me-md-2" routerLink="/view-employees">View Employees ></button>
      </div>
    </div>
  </div>
</div>